<% provide(:title, "'#{@list.title}' from #{@user.fullname}") %>
<section>
	<div class="container">
		<div class="pure-g">
			<div class="pure-u-1-1">
				<% if @list.private and !is_current_user(@list.user) %>
				<h1>Private List</h1>
				<p>This is a private list. Go <%= link_to 'back', @list.user %>.</p>
				<% else %>
				<h1><% if @list.private %><%= inline_icon('lock', '', 'left') %><% end %><%= @list.title %> <small>from <%= link_to user_path(@user.id), title: @user.fullname do %><%= @user.fullname %><% end %></small></h1>
				<% if is_current_user(@list.user) %>
					<%= link_to new_user_list_list_item_path(@user, @list), class: 'btn btn-danger addvenue-btn' do %><%= inline_icon('plus', 'Add Venue', 'left') %><% end %>
				<% end %>
				<p>Last Updated: <%= @list.updated_at.strftime("%B %d, %Y") %></p>
				<% if @list.description.present? %>
				<p class="lead"><%= @list.description %></p>
				<% end %>
				<% if @list.venue_count == 0 %>
				<p><% if is_current_user(@user) %>You have<% else %><%= @user.firstname %> has<% end %> not added any places to this list.</p>
				<% else %>
				<div class="pure-g">
					<div class="pure-u-1-1">
						<table class="table">
						  <thead>
						    <tr>
						      <th class="col-name"><%= sortable 'name', 'Name' %></th>
									<th class="col-type"><%= sortable 'vt_name', 'Type' %></th>
						      <th class="col-neighborhood"><%= sortable 'neighborhood_name', 'Neighborhood' %></th>
									<% if @list.hasDates %><th class="col-date"><%= sortable 'date', 'Date' %></th><% end %>
						      <% if is_current_user(@user) or user_signed_in? %><th class="col-delete">&nbsp;</th><% end %>
						    </tr>
						  </thead>
						  <tbody>
						    <% @sorted_list.each do |list_item| %>
						    <tr>
									<% if list_item.manual_entry %>
									<td class="col-name"><%= list_item.venue_name %></td>
									<td class="col-type"><%= link_to Venuetype.find(list_item.venuetype_id).name, Venuetype.find(list_item.venuetype_id) %></td>
									<td class="col-neighborhood"><%= link_to Neighborhood.find(list_item.neighborhood_id).name, Neighborhood.find(list_item.neighborhood_id) %></td>
									<% else %>
									<td class="col-name"><%= link_to list_item.venue.name, list_item.venue %></td>
									<td class="col-type"><%= link_to list_item.venue.venuetype.name, list_item.venue.venuetype %></td>
									<td class="col-neighborhood"><%= link_to list_item.venue.neighborhood.name, list_item.venue.neighborhood %></td>
									<% end %>
									<% if @list.hasDates %><td class="col-date"><% if list_item.date %><%= list_item.date %><% else %><%= render_dash %><% end %></td><% end %>
									<% if is_current_user(list_item.list.user) or user_signed_in? %><td class="col-delete">
						    		<% if is_current_user(list_item.list.user) %>
						    			<%= link_to user_list_list_item_path(list_item.list.user, list_item.list, list_item), title: "Remove this item from your list?", method: :delete, class: 'red' do %><%= inline_icon('trash', '', 'red') %><% end %><% end %>
						    	</td><% end %>
						    </tr>
						    <% end %>
						  </tbody>
						</table>
					</div>
					<!<% if @list.showmap %>
					<!--<div class="pure-u-1-1 pure-u-md-1-3">
						<div id="google-map" class="map map-list"></div>
					</div>-->
					<% end %>
				</div>
				<% end %>
				<% end %>
			</div>
		</div>
		<p><%= link_to 'Back', user_path, title: 'Back' %><% if is_current_user(@user) %>&nbsp;&bull;&nbsp;<%= link_to edit_user_list_path(@list.user, @list), title: 'Edit' do %>Edit List<% end %><% end %></p>
	</div>
</section>

<% if @list.showmap %>
<%= render 'layouts/mapscript', :mapvenues => @list.venues %>
<% end %>
