<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :multipart => true) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :firstname %><br />
  <%= f.text_field :firstname %></div>
  
  <div><%= f.label :lastname %><br />
  <%= f.text_field :lastname %></div>
  
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street, { :class => 'form-control' } %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, :value => 'Chicago' %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= select(:user, 'state', us_states, { :selected => 'IL', :include_blank => 'None' }, { :class => 'form-control' }) %>
  </div>
  
  <div><%= f.label :avatar %><br />
  <%= f.file_field :avatar %>
  <%= f.hidden_field :avatar_cache %>
  </div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
