<% provide(:title, "#{@user.fullname}'s Places to Try") %>
<section id="user-tries" class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>To Try <small>from <%= link_to user_path(@user.id), title: @user.fullname do %><%= @user.fullname %><% end %></small></h1>
				<% if @tries.empty? %>
				<p><% if is_current_user(@user) %>You have<% else %><%= @user.firstname %> has<% end %> not added any places to try.</p>
				<% else %>
				<table class="table">
				  <thead>
				    <tr>
				      <th>Name</th>
				      <th class="hidden-xs">Type</th>
				      <th class="text-center">Price</th>
				      <th class="hidden-xs text-center">Date Added</th>
				      <% if is_current_user(@user) or user_signed_in? %><th>&nbsp;</th><% end %>
				    </tr>
				  </thead>
				  <tbody>
				    <% @tries.each do |try| %>
				    <tr>
				    	<td><%= link_to venue_path(try.venue_id), title: Venue.find(try.venue_id).name do %><%= Venue.find(try.venue_id).name %><% end %></td>
				    	<td class="hidden-xs"><%= link_to venuetype_path(Venue.find(try.venue_id).typeid), title: Venuetype.find(Venue.find(try.venue_id).typeid).name do %><%= Venuetype.find(Venue.find(try.venue_id).typeid).name %><% end %></td>
				    	<td class="text-center"><%= render_price(Venue.find(try.venue_id).price) %></td>
				    	<td class="hidden-xs text-center"><%= try.updated_at.strftime('%B %e, %Y') %></td>
				    	<% if is_current_user(@user) or user_signed_in? %><td class="text-center">
				    		<% if is_current_user(@user) %>
				    			<%= link_to try_path(try), title: "Remove #{Venue.find(try.venue_id).name} from your list?", method: :delete, class: 'red' do %><i class="fa fa-times fa-lg"></i><% end %>
				    		<% elsif user_signed_in? and Try.where('user_id = ? AND venue_id = ?', current_user.id, try.venue_id).exists? %><i class="fa fa-check fa-lg green"></i><% end %>
				    	</td><% end %>
				    </tr>
				    <% end %>
				  </tbody>
				</table>
				<% end %>
			</div>
		</div>
	</div>
</section>