<% provide(:title, "#{@user.fullname}'s Places to Try") %>
<section id="user-tries" class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>To Try <small>from <%= link_to user_path(@user.id), title: @user.fullname do %><%= @user.fullname %><% end %></small></h1>
				<% if @tries.empty? %>
				<p><% if is_current_user(@user) %>You have<% else %><%= @user.firstname %> has<% end %> not added any places to try.</p>
				<% else %>
				<table class="table">
				  <thead>
				    <tr>
				      <th><%= sortable 'name', 'Name' %></th>
				      <th class="hidden-xs"><%= sortable 'vt_name', 'Type' %></th>
				      <th class="hidden-xs"><%= sortable 'neighborhood_name', 'Neighborhood' %></th>
				      <th class="text-center"><%= sortable 'price', 'Price' %></th>
				      <th class="hidden-xs text-center"><%= sortable 'updated_at', 'Date Added' %></th>
				      <% if is_current_user(@user) or user_signed_in? %><th>&nbsp;</th><% end %>
				    </tr>
				  </thead>
				  <tbody>
				    <% @tries.each do |try| %>
				    <tr>
				    	<td><%= link_to venue_path(try.venue_id), title: try.venue.name do %><%= try.venue.name %><% end %></td>
				    	<td class="hidden-xs"><%= link_to venuetype_path(try.venue.venuetype_id), title: try.venue.venuetype.name do %><%= try.venue.venuetype.name %><% end %></td>
				    	<td class="hidden-xs"><%= link_to try.venue.neighborhood do %><%= try.venue.neighborhood.name %><% end %></td>
				    	<td class="text-center"><%= render_price(try.venue.price) %></td>
				    	<td class="hidden-xs text-center"><%= try.updated_at.strftime('%B %e, %Y') %></td>
				    	<% if is_current_user(@user) or user_signed_in? %><td class="text-center">
				    		<% if is_current_user(@user) %>
				    			<%= link_to try_path(try), title: "Remove #{try.venue.name} from your list?", method: :delete, class: 'red' do %><i class="fa fa-times fa-lg"></i><% end %>
				    		<% elsif user_signed_in? and Try.where('user_id = ? AND venue_id = ?', current_user.id, try.venue_id).exists? %><i class="fa fa-check fa-lg green"></i><% end %>
				    	</td><% end %>
				    </tr>
				    <% end %>
				  </tbody>
				</table>
				<% end %>
			</div>
		</div>
	</div>
</section>
