<% provide(:title, 'Users') %>
<section>
	<div class="pure-g">
		<div class="pure-u-1-1">
			<h1>Users</h1>
			<ul class="user-list cols2">
				<% @users.each do |user| %>
		    <li>
					<div class="pure-g">
						<div class="pure-u-5-12 pure-u-sm-1-4">
							<%= link_to user_path(user), title: user.fullname do %><img class="user-avatar" src="<%= user.avatar.url(:medium) %>" /><% end %>
						</div>
						<div class="pure-u-7-12 pure-u-sm-3-4">
							<div class="user-meta">
								<%= link_to user.fullname, user, title: user.fullname, class: 'user-name' %>
								<strong><%= user.user_score %> User Score</strong>
								<br>
								<%= user.user_public_comment_count %> Comments
								<br>
								<%= user.user_venue_rating_count %> Venue Ratings
								<br>
								<%= user.user_item_rating_count %> Menu Item Ratings
								<% if current_user.try(:admin?) and current_user != user %><br>
								<%= link_to "Delete User?", user, method: :delete, data: { confirm: "You sure?" } %>
								<% end %>
							</div>
						</div>
					</div>
				</li>
		    <% end %>
			</ul>
		</div>
	</div>
</section>
