<% provide(:title, "#{@user.fullname} | User ##{@user.id}") %>
<section id="user-show" class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="user-nameandphoto">
					<img class="user-avatar user-avatar-med" src="<%= @user.avatar.url(:medium) %>" alt="<%= @user.fullname %>">
					<h1><%= @user.fullname %><% if is_current_user(@user) %> <small><%= link_to 'Edit Profile', edit_user_registration_path %></small><% end %></h1>
				</div>
				<div id="user-count-block" class="row text-center">
					<%= score_display(@user.user_score, 'User Score') %>
					<%= score_display(@user.user_public_comment_count, 'Public Comments') %>
					<%= score_display(@user.user_venue_rating_count, 'Venue Ratings') %>
					<%= score_display(@user.user_item_rating_count, 'Menu Item Ratings') %>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<%= link_to user_tries_path(@user.id), class: 'btn btn-block btn-danger' do %>Places to Try<% end %>
						<%= link_to user_ratings_path(@user.id), class: 'btn btn-block btn-primary' do %>Venue Ratings<% end %>
						<%= link_to user_comments_path(@user.id), class: 'btn btn-block btn-success' do %>Comments<% end %>
						<%= link_to user_item_ratings_path(@user.id), class: 'btn btn-block btn-warning' do %>Menu Item Ratings<% end %>
						<%= link_to user_lists_path(@user.id), class: 'btn btn-block btn-info' do %>Lists<% end %>
					</div>
					<div class="col-sm-8">
						<hr class="visible-xs">
						<h2>Recent Activity</h2>
						<% if @user.recentActivity.empty? %>
						<p><% if is_current_user(@user) %>You have<% else %><%= @user.firstname %> has<% end %> no recent activity.</p>
						<% else %>
						<ul class="activity-list nolast">
							<% @user.recentActivity.each do |activity| %>
								<% if (activity.kind_of? Comment and (!activity.private or (activity.private and is_current_user(activity.user, true)))) or (!activity.kind_of? Comment and !activity.kind_of? Eat) or (activity.kind_of? Eat and !activity.item_rating.present?) or (activity.kind_of? List) or (activity.kind_of? ListItem) %>
								<%= display_activity(activity) %>
								<% end %>
							<% end %>
						</ul>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
