<section id="user-show">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="user-nameandphoto">
					<img class="user-avatar user-avatar-med" src="<%= @user.avatarurl %>" alt="<%= @user.fullname %>">
					<h1><%= @user.fullname %><% if !current_user.nil? && @user.id == current_user.id %> <small><%= link_to 'Edit Profile', edit_user_registration_path %></small><% end %></h1>
				</div>
				<div class="row">
					<div class="col-md-3">
						<h2>To Try</h2>
						<% if !@userTries %>
							<p><% if !current_user.nil? && @user.id == current_user.id %>You have<% else %><%= @user.firstname %> has<% end %> not added any places to try.</p>
						<% else %>
						<ul>
							<% @userTries.each do |try| %>
							<li><%= link_to venue_path(try.venue_id) do %><%= Venue.find(try.venue_id).name %><% end %></li>
							<% end %>
						</ul>
						<% end %>
					</div>
					<div class="col-md-3">
						<h2>Ratings</h2>
						<% if !@userRatings.empty? %>
							<table class="table">
							  <thead>
							    <tr>
							      <th>Name</th>
							      <th class="text-center">Rating</th>
							    </tr>
							  </thead>
							  <tbody>
									<% @userRatings.each do |rating| %>
						      <tr>
						      	<td><%= link_to venue_path(rating.venue_id) do %><%= Venue.find(rating.venue_id).name %><% end %></td>
						      	<td class="text-center"><%= rating.rating %></td>
						      </tr>
									<% end %>
							  </tbody>
							</table>
				    <% end %>
					</div>
					<% if !@userCommentsRecent.empty? %>
					<div class="col-md-6">
						<h2>Recent Comments</h2>
						<% @userCommentsRecent.each do |comment| %>
				      <div><%= link_to venue_path(comment.venue_id) do %><%= Venue.find(comment.venue_id).name %><% end %>: <%= comment.updated_at %>:<br><%= comment.body %></div>
				    <% end %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>