<section id="user-show">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1><%= @user.fullname %></h1>
				<% if !current_user.nil? && @user.id == current_user.id %><p><%= link_to 'Edit Profile', edit_user_registration_path %></p><% end %>
				<div class="row">
					<div class="col-md-4">
						<img src="<%= @user.avatarurl %>" alt="<%= @user.fullname %>">
					</div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-6">
								<h2>To Try</h2>
								<% @userTries = Try.where(user_id: @user.id) %>
								<% if !@userTries %>
									<p><% if !current_user.nil? && @user.id == current_user.id %>You have<% else %><%= @user.firstname %> has<% end %> not added any places to try.</p>
								<% else %>
								<ul>
									<% @userTries.sort{ |a,b| b.created_at <=> a.created_at }.each do |try| %>
									<li><%= link_to venue_path(try.venue_id) do %><%= Venue.find(try.venue_id).name %><% end %></li>
									<% end %>
								</ul>
								<% end %>
							</div>
							<div class="col-md-6">
								<h2>Ratings</h2>
								<% @userRatings = Rating.where(raterid: @user.id) %>
								<% if !@userRatings.empty? %>
									<table class="table">
									  <thead>
									    <tr>
									      <th>Name</th>
									      <th class="text-center">Rating</th>
									    </tr>
									  </thead>
									  <tbody>
											<% @userRatings.sort{ |a,b| b.updated_at <=> a.updated_at }.each do |rating| %>
								      <tr>
								      	<td><%= link_to venue_path(rating.venue_id) do %><%= Venue.find(rating.venue_id).name %><% end %></td>
								      	<td class="text-center"><%= rating.rating %></td>
								      </tr>
											<% end %>
									  </tbody>
									</table>
						    <% end %>
							</div>
						</div>
						<% @userCommentsRecent = Comment.where(commenterid: @user.id) %>
						<% if !@userCommentsRecent.empty? %>
							<h2>Recent Comments</h2>
							<% @userCommentsRecent.sort{ |a,b| b.updated_at <=> a.updated_at }.each do |comment| %>
					      <div><%= link_to venue_path(comment.venue_id) do %><%= Venue.find(comment.venue_id).name %><% end %>: <%= comment.updated_at %>:<br><%= comment.body %></div>
					    <% end %>
				    <% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>