<section id="user-show">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="user-nameandphoto">
					<img class="user-avatar user-avatar-med" src="<%= @user.avatarurl %>" alt="<%= @user.fullname %>">
					<h1><%= @user.fullname %><% if !current_user.nil? && @user.id == current_user.id %> <small><%= link_to 'Edit Profile', edit_user_registration_path %></small><% end %></h1>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<p>User Score: <%= @user.user_score %></p>
						<%= link_to user_tries_path(@user.id), class: 'btn btn-block btn-danger' do %><%= @user.firstname %>'s Places to Try<% end %>
						<%= link_to user_ratings_path(@user.id), class: 'btn btn-block btn-primary' do %><%= @user.firstname %>'s Ratings<% end %>
						<%= link_to user_comments_path(@user.id), class: 'btn btn-block btn-success' do %><%= @user.firstname %>'s Comments<% end %>
					</div>
					<div class="col-sm-8">
						<hr class="visible-xs">
						<h2>Recent Activity</h2>
						<% if @userRecentActivity.empty? %>
						<p><%= @user.firstname %> has no recent activity.</p>
						<% else %>
						<ul>
							<% @userRecentActivity.sort{|a,b| b.updated_at <=> a.updated_at }.first(8).each do |activity| %>
							<li>
								<% if activity.kind_of? Try %>
								Added <%= link_to venue_path(activity.venue_id) do %><%= Venue.find(activity.venue_id).name %><% end %> to their <%= link_to user_tries_path(@user.id) do %>list of places to try<% end %>.
								<% elsif activity.kind_of? Rating %>
								Rated <%= activity.rating %> <%= link_to venue_path(activity.venue_id) do %><%= Venue.find(activity.venue_id).name %><% end %>
								<% elsif activity.kind_of? Comment %>
								Commented on <%= link_to venue_path(activity.venue_id) do %><%= Venue.find(activity.venue_id).name %><% end %><br><%= wrap_quotes(activity.body).html_safe %>
								<% end %>
								<br>
								<%= activity.updated_at.strftime('%B %e, %Y %l:%M %P') %>
								<hr>
							</li>
							<% end %>
						</ul>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>