<% provide(:title, 'About Chicago Food') %>
<section id="home-about" class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>About Chicago Food</h1>
				<p class="lead">Chicago Food is a community-driven food tracking tool. Whether by <%= link_to 'neighborhood', neighborhoods_path %>, <%= link_to 'cuisine type', venuetypes_path %>, <%= link_to 'BYOB', venues_path(:direction => 'desc', :sort => 'byob') %>, or other method, users can drill down to find just what they are looking for, as curated by their friends. You can:</p>
				<ul class="lead">
					<li>Make a list of your <%= link_to 'favorite craft beer places', user_list_path(1, 1) %></li>
					<li>Keep track of <%= link_to "restaurants you'd like to try", user_tries_path(1) %> in the future</li>
					<li>Leave comments (either publicly or privately) about your experiences</li>
					<li>And much more...</li>
				</ul>
				<p class="lead"><%= link_to 'Any registered user', new_user_registration_path %> can curate their own experience, or contribute to everyone's experience by adding a neighborhood, venue type, or venue. This means that when you delete a venue, it's deleted for everyone, too, so be careful!</p>
				<p class="lead">Feel free to ask questions, point out bugs (there are many), or give suggestions to <%= link_to 'info@seferdesign.com', 'mailto:info@seferdesign.com?subject=Chicago Food Feedback', { :target => '_blank' } %>. Thanks for coming! I started Chicago Food in order to share food adventures with friends. I hope you enjoy it, too.</p>
				<p class="lead text-right">&mdash; Robert Sefer, Sefer Design Co.</p>
			</div>
			<div class="col-sm-12">
			</div>
		</div>
	</div>
</section>
