<% provide(:title, 'About Chicago Food') %>
<section>
	<div class="pure-g">
		<div class="pure-u-md-1-6"></div>
		<div class="pure-u-1-1 pure-u-md-2-3">
			<h1>About Chicago Food</h1>
			<p>Chicago Food is a community-driven food tracking tool. Whether by <%= link_to 'neighborhood', neighborhoods_path %>, <%= link_to 'cuisine type', tag %>, <%= link_to 'BYOB', venues_path(:direction => 'asc', :sort => 'byob') %>, or other method, users can drill down to find just what they are looking for, as curated by their friends. You can:</p>
			<ul>
				<li>Make a list of your <%= link_to 'favorite craft beer places', user_list_path(1, 2) %></li>
				<li>Keep track of <%= link_to "restaurants you'd like to try", user_tries_path(1) %> in the future</li>
				<li>Leave comments (either publicly or privately) about your experiences</li>
				<li>And much more...</li>
			</ul>
			<p><%= link_to 'Any registered user', new_user_registration_path %> can curate their own experience, or contribute to everyone's experience by adding a neighborhood, tag, or venue. This means that when you delete a venue, it's deleted for everyone, too, so be careful!</p>
			<p>Feel free to ask questions, point out bugs (there are many), or give suggestions to <%= link_to 'info@seferdesign.com', 'mailto:info@seferdesign.com?subject=Chicago Food Feedback', { :target => '_blank' } %>. Thanks for coming!</p>
			<p style="text-align: right;"><strong>&mdash; Robert Sefer, Sefer Design Co.</strong></p>
		</div>
	</div>
</section>
