<% provide(:title, 'City Map') %>
<section id="map-main" class="pad">
	<div class="container">
		<div class="row">
			<div class="map-filters col-sm-12">
				<% if user_signed_in? %><% if params[:totry] == '1' %><%= link_to raw(@tryButtonHTML), params.permit(:totry, :byob, :outdoor, :maxPrice).except(:totry), :class => 'btn btn-success btn-small', :title => 'On Your To Try List?' %><% else %><%= link_to raw(@tryButtonHTML), params.permit(:totry, :byob, :outdoor, :maxPrice).except(:totry).merge(:totry => 1), :class => 'btn btn-default btn-small isHidden', :title => 'On Your To Try List?' %><% end %><% end %>
        <% if params[:byob] == '1' %><%= link_to raw(@byobButtonHTML), params.permit(:totry, :byob, :outdoor, :maxPrice).except(:byob), :class => 'btn btn-success btn-small', :title => 'BYOB?' %><% else %><%= link_to raw(@byobButtonHTML), params.permit(:totry, :byob, :outdoor, :maxPrice).except(:byob).merge(:byob => 1), :class => 'btn btn-default btn-small isHidden', :title => 'BYOB?' %><% end %>
				<% if params[:outdoor] == '1' %><%= link_to raw(@outdoorButtonHTML), params.permit(:totry, :byob, :outdoor, :maxPrice).except(:outdoor), :class => 'btn btn-success btn-small', :title => 'Outdoor?' %><% else %><%= link_to raw(@outdoorButtonHTML), params.permit(:totry, :byob, :outdoor, :maxPrice).except(:outdoor).merge(:outdoor => 1), :class => 'btn btn-default btn-small isHidden', :title => 'Outdoor?' %><% end %>
        <div class="btn-group" role="group">
          <%= link_to params.permit(:totry, :byob, :outdoor, :maxPrice).except(:maxPrice).merge(:maxPrice => 1), :class => ((@includeAllPrices or params[:maxPrice].to_f >= 1) ? 'btn-success' : 'btn-default') + ' btn btn-small' do %><%= render_price(1) %><% end %>
          <%= link_to params.permit(:totry, :byob, :outdoor, :maxPrice).except(:maxPrice).merge(:maxPrice => 2), :class => ((@includeAllPrices or params[:maxPrice].to_f >= 2) ? 'btn-success' : 'btn-default') + ' btn btn-small' do %><%= render_price(2) %><% end %>
          <%= link_to params.permit(:totry, :byob, :outdoor, :maxPrice).except(:maxPrice).merge(:maxPrice => 3), :class => ((@includeAllPrices or params[:maxPrice].to_f >= 3) ? 'btn-success' : 'btn-default') + ' btn btn-small' do %><%= render_price(3) %><% end %>
          <%= link_to params.permit(:totry, :byob, :outdoor, :maxPrice).except(:maxPrice).merge(:maxPrice => 4), :class => ((@includeAllPrices or params[:maxPrice].to_f >= 4) ? 'btn-success' : 'btn-default') + ' btn btn-small' do %><%= render_price(4) %><% end %>
        </div>
			</div>
			<div class="col-sm-12">
				<div id="google-map" class="map map-all"></div>
			</div>
		</div>
	</div>
</section>

<%= render 'layouts/mapscript', :mapvenues => @venues %>
