<% provide(:title, 'City Map') %>
<section>
  <div class="map-filters">
    <% if user_signed_in? %>
      <%= link_to tryButtonHTML, params.permit(@paramsOptions).except(:totry).merge(:totry => ('1' if params[:totry] != '1')), :class => filterButtonClassConditional(params[:totry]), :title => 'On Your To Try List?' %>
    <% end %>
    <div class="btn-group btn-group-price" role="group">
      <% (1..4).each do |i| %>
      <%= link_to params.permit(@paramsOptions).except(:maxPrice).merge(:maxPrice => i), :class => filterButtonClassConditional((@includeAllPrices or params[:maxPrice].to_f >= i)) do %><%= render_price(i) %><% end %>
      <% end %>
    </div>
    <%= link_to outdoorButtonHTML, params.permit(@paramsOptions).except(:outdoor).merge(:outdoor => ('1' if params[:outdoor] != '1')), :class => filterButtonClassConditional(params[:outdoor] == '1'), :title => 'Outdoor?' %>
    <div class="btn-group btn-group-thirds" role="group">
      <%= link_to outdoorButtonHTML, params.permit(@paramsOptions).except(:byob, :craftbeer, :cocktails).merge(:byob => ('1' if params[:byob] != '1')), :class => filterButtonClassConditional(params[:byob] == '1'), :title => 'BYOB?' %>
      <%= link_to craftbeerButtonHTML, params.permit(@paramsOptions).except(:byob, :craftbeer, :cocktails).merge(:craftbeer => ('1' if params[:craftbeer] != '1')), :class => filterButtonClassConditional(params[:craftbeer] == '1'), :title => 'Craft Beer?' %>
      <%= link_to cocktailsButtonHTML, params.permit(@paramsOptions).except(:byob, :craftbeer, :cocktails).merge(:cocktails => ('1' if params[:cocktails] != '1')), :class => filterButtonClassConditional(params[:cocktails] == '1'), :title => 'Cocktails?' %>
    </div>
  </div>
  <div id="google-map" class="map map-all"></div>
</section>

<%= render 'layouts/mapscript', :mapvenues => @venues %>
