<% provide(:title, "#{@user.fullname}'s Ratings") %>
<section>
	<div class="container">
		<div class="pure-g">
			<div class="pure-u-1-1">
				<h1>Ratings <small>from <%= link_to @user, title: @user.fullname do %><%= @user.fullname %><% end %></small></h1>
				<% if @ratings.empty? %>
				<p><% if is_current_user(@user) %>You have<% else %><%= @user.firstname %> has<% end %> not rated any venues.</p>
				<% else %>
				<table>
				  <thead>
				    <tr>
				      <th class="col-name"><%= sortable 'name', 'Name' %></th>
				      <th class="col-tags"><%= sortable 'tag_name', 'Tags' %></th>
							<th class="col-rating"><%= sortable 'rating', 'Rating' %></th>
				      <th class="col-date"><%= sortable 'updated_at', 'Date Added' %></th>
				    </tr>
				  </thead>
				  <tbody>
				    <% @ratings.each do |rating| %>
				    <tr>
				    	<td class="col-name"><%= link_to venue_path(rating.venue_id), title: rating.venue.name do %><%= rating.venue.name %><% end %></td>
				    	<td class="col-tags">[tags]</td>
							<td class="col-rating"><%= rating.rating %></td>
				    	<td class="col-date"><%= rating.updated_at.strftime('%B %e, %Y') %></td>
				    </tr>
				    <% end %>
				  </tbody>
				</table>
				<% end %>
			</div>
		</div>
	</div>
</section>
