<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  	<div class="col-sm-6">
		  <div class="form-group venue-name-input-wrap">
		    <%= f.label :name %><br>
		    <%= f.text_field :name, { :class => 'form-control', :required => 'required', :autocomplete => 'off' } %>
				<div id="search-results" class="hidden venue-name-search-wrap"></div>
		  </div>
      <%= render :partial => 'typeandprice' %>
		  <div class="form-group">
		  	<label>Good For</label><br>
		  	<%= check_box(:venue, :byob, {}, 'true', 'false') %>
  			<%= f.label :byob, 'BYOB?' %>
  			<%= check_box(:venue, :craftbeer, {}, 'true', 'false') %>
  			<%= f.label :craftbeer, 'Craft Beer' %>
  			<%= check_box(:venue, :cocktails, {}, 'true', 'false') %>
  			<%= f.label :cocktails, 'Cocktails' %>
  			<%= check_box(:venue, :latenight, {}, 'true', 'false') %>
  			<%= f.label :latenight, 'Late Night' %>
  			<%= check_box(:venue, :cashonly, {}, 'true', 'false') %>
  			<%= f.label :cashonly, 'Cash Only' %>
		  </div>
		</div>
		<div class="col-sm-6">
		  <div class="form-group">
		    <%= f.label :neighborhood_id, 'Neighborhood' %><br>
		    <% if params[:neighborhood_id] %>
		    <%= select(:venue, :neighborhood_id, Neighborhood.all.collect {|n| [ n.name, n.id ] }, { :selected => params[:neighborhood_id] }, { :class => 'form-control' }) %>
		    <% else %>
		    <%= collection_select(:venue, 'neighborhood_id', Neighborhood.order('name ASC'), :id, :name, { :include_blank => '' }, { :class => 'form-control', :required => 'required' }) %>
		    <% end %>
		  </div>
		  <div class="form-group">
		    <%= f.label :street, 'Street Address' %><br>
		    <%= f.text_field :street, { :class => 'form-control', :required => 'required' } %>
		  </div>
		  <div class="form-group">
		    <%= f.label :city %><br>
		    <% if @venue.state %>
		    <%= f.text_field :city, { :class => 'form-control', :required => 'required' } %>
		    <% else %>
		    <%= f.text_field :city, { :class => 'form-control', :value => 'Chicago', :required => 'required' } %>
		    <% end %>
		  </div>
		  <div class="form-group">
		    <%= f.label :state %><br>
		    <% if @venue.state.blank? %>
		    <%= select(:venue, 'state', us_states, { :selected => 'IL' }, { :class => 'form-control' }) %>
		    <% else %>
		    <%= select(:venue, 'state', us_states, {}, { :class => 'form-control' }) %>
		    <% end %>
		  </div>
		</div>
	</div>
  <div class="form-group">
		<button type="submit" class="btn btn-success"><i class="fa fa-save left"></i>Save</button>
	</div>
<% end %>
