<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
  	<div class="col-sm-6">
		  <div class="form-group">
		    <%= f.label :name %><br>
		    <%= f.text_field :name, { :class => 'form-control' } %>
		  </div>
		  <div class="form-group">
		    <%= f.label :url, 'URL' %><br>
		    <%= f.text_field :url, { :class => 'form-control', :placeholder => 'http://example.com' }  %>
		  </div>
		  <div class="form-group">
		    <%= f.label :yelpid, 'Yelp ID' %> <small>Ex. http://www.yelp.com/biz/<strong><u>name-of-restaurant</u></strong></small><br>
		    <%= f.text_field :yelpid, { :class => 'form-control', :placeholder => 'name-of-restaurant' } %>
		  </div>
		  <div class="form-group">
		    <%= f.label :typeid ,'Type' %><br>
		    <%= collection_select(:venue, 'typeid', Venuetype.all, :id, :name, {},{ :class => 'form-control' }) %>
		  </div>
		  <div class="form-group">
		    <%= f.label :price, 'Price' %><br>
		    <%= f.text_field :price, { :class => 'form-control', :placeholder => '' } %>
		  </div>
		  <div class="form-group">
		  	<%= check_box(:venue, :byob, {}, 'true', 'false') %>
  			<%= f.label :byob, 'BYOB?' %>
  			<%= check_box(:venue, :craftbeer, {}, 'true', 'false') %>
  			<%= f.label :craftbeer, 'Craft Beer' %>
  			<%= check_box(:venue, :cocktails, {}, 'true', 'false') %>
  			<%= f.label :cocktails, 'Cocktails' %>
  			<%= check_box(:venue, :latenight, {}, 'true', 'false') %>
  			<%= f.label :latenight, 'Late Night' %>
		  </div>
		</div>
		<div class="col-sm-6">
		  <div class="form-group">
		    <%= f.label :neighborhoodid, 'Neighborhood' %><br>
		    <%= collection_select(:venue, 'neighborhoodid', Neighborhood.all, :id, :name, { :include_blank => 'None' }, { :class => 'form-control' }) %>
		  </div>
		  <div class="form-group">
		    <%= f.label :street, 'Street Address' %><br>
		    <%= f.text_field :street, { :class => 'form-control' } %>
		  </div>
		  <div class="form-group">
		    <%= f.label :city %><br>
		    <% if @venue.state == '' %>
		    <%= f.text_field :city, :value => 'Chicago' %>
		    <% else %>
		     <%= f.text_field :city, { :class => 'form-control' } %>
		    <% end %>
		  </div>
		  <div class="form-group">
		    <%= f.label :state %><br>
		    <% if @venue.state.blank? %>
		    <%= select(:venue, 'state', us_states, { :selected => 'IL' }, { :class => 'form-control' }) %>
		    <% else %>
		    <%= select(:venue, 'state', us_states, {}, { :class => 'form-control' }) %>
		    <% end %>
		  </div>
		</div>
	</div>
  <!--<div class="form-group">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode %>
  </div>-->
  <div class="form-group">
		<button type="submit" class="btn btn-success"><i class="fa fa-save left"></i>Save</button>
	</div>
<% end %>
