<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="pure-g">
  	<div class="pure-u-1-1 pure-u-sm-11-24">
		  <div class="form-group venue-name-input-wrap">
		    <%= f.label :name %>
		    <%= f.text_field :name, { :class => 'form-control', :required => 'required', :autocomplete => 'off' } %>
				<div id="search-results" class="hidden venue-name-search-wrap"></div>
		  </div>
      <div class="form-group form-group-multiple-options">
        <%= label(:venue, :price, value: 1) do %>Price<% end %><br>
        <%= radio_button('venue', 'price', 1, { :required =>  'required' }) %>
        <%= label(:venue, :price, value: 1) do %><%= render_price(1) %><% end %>
        <%= radio_button('venue', 'price', 2, { :required =>  'required' }) %>
        <%= label(:venue, :price, value: 2) do %><%= render_price(2) %><% end %>
        <%= radio_button('venue', 'price', 3, { :required =>  'required' }) %>
        <%= label(:venue, :price, value: 3) do %><%= render_price(3) %><% end %>
        <%= radio_button('venue', 'price', 4, { :required =>  'required' }) %>
        <%= label(:venue, :price, value: 4) do %><%= render_price(4) %><% end %>
      </div>
      <div class="form-group">
        <label>Genre</label>
        <div class="genre-toggles">
          <% Tag.where(tagtype: 'genre').each do |genre| %>
          <div class="bubble" data-status="<% if @venue.tags.include? genre.id.to_s %>selected<% end %>" data-tag-id="<%= genre.id %>"><%= genre.name %></div>
          <% end %>
        </div>
        <input type="hidden" name="venue[tags]" id="venue_tags" value="<%= @venue.tags.join(',') %>">
      </div>
		  <div class="form-group form-group-multiple-options">
		  	<label>Good For</label><br>
		  	<%= check_box(:venue, :byob, {}, 'true', 'false') %>
  			<%= f.label :byob, 'BYOB?' %>
  			<%= check_box(:venue, :craftbeer, {}, 'true', 'false') %>
  			<%= f.label :craftbeer, 'Craft Beer' %>
  			<%= check_box(:venue, :cocktails, {}, 'true', 'false') %>
  			<%= f.label :cocktails, 'Cocktails' %>
  			<%= check_box(:venue, :latenight, {}, 'true', 'false') %>
  			<%= f.label :latenight, 'Late Night' %>
  			<%= check_box(:venue, :cashonly, {}, 'true', 'false') %>
  			<%= f.label :cashonly, 'Cash Only' %>
				<%= check_box(:venue, :outdoor, {}, 'true', 'false') %>
  			<%= f.label :outdoor, 'Outdoor/Patio' %>
		  </div>
		</div>
    <div class="pure-u-sm-1-12"></div>
		<div class="pure-u-1-1 pure-u-sm-11-24">
		  <div class="form-group">
		    <%= f.label :street, 'Street Address' %>
		    <%= f.text_field :street, { :class => 'form-control', :required => 'required' } %>
		  </div>
			<div class="pure-g">
				<div class="pure-u-1-1 pure-u-md-11-24">
				  <div class="form-group">
				    <%= f.label :city %>
				    <% if @venue.state %>
				    <%= f.text_field :city, { :class => 'form-control', :required => 'required' } %>
				    <% else %>
				    <%= f.text_field :city, { :class => 'form-control', :value => 'Chicago', :required => 'required' } %>
				    <% end %>
				  </div>
				</div>
				<div class="pure-u-md-1-12"></div>
				<div class="pure-u-1-1 pure-u-md-11-24">
				  <div class="form-group">
				    <%= f.label :state %>
				    <% if @venue.state.blank? %>
				    <%= select(:venue, 'state', us_states, { :selected => 'IL' }, { :class => 'form-control' }) %>
				    <% else %>
				    <%= select(:venue, 'state', us_states, {}, { :class => 'form-control' }) %>
				    <% end %>
				  </div>
				</div>
			</div>
      <div class="form-group">
		    <%= f.label :neighborhood_id, 'Neighborhood' %> <a id="find-neighborhood-by-street" class="find-neighborhood-by-street"><small>Find based on street address</small><%= inline_icon('refresh', '', 'right') %></a><br>
        <div class="suggested-neighborhoods"></div>
		    <% if params[:neighborhood_id] %>
		    <%= select(:venue, :neighborhood_id, Neighborhood.all.collect {|n| [ n.name, n.id ] }, { :selected => params[:neighborhood_id] }, { :class => 'form-control' }) %>
		    <% else %>
		    <%= collection_select(:venue, 'neighborhood_id', Neighborhood.order('name ASC'), :id, :name, { :include_blank => '' }, { :class => 'form-control', :required => 'required' }) %>
		    <% end %>
		  </div>
		</div>
	</div>
  <div class="form-group">
		<button type="submit" class="btn btn-success"><%= inline_icon('save', 'Save', 'left')%></button>
	</div>
<% end %>
