<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :typeid %><br>
    <%= collection_select(:venue, 'typeid', Venuetype.all, :id, :name, { :include_blank => 'None' }, { :class => 'form-control' }) %>
  </div>
  <div class="field">
    <%= f.label :yelpid %><br>
    <%= f.number_field :yelpid %>
  </div>
  <div class="field">
    <%= f.label :neighborhoodid %><br>
    <%= collection_select(:venue, 'neighborhoodid', Neighborhood.all, :id, :name, { :include_blank => 'None' }, { :class => 'form-control' }) %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <% if @venue.state == '' %>
    <%= f.text_field :city, :value => 'Chicago' %>
    <% else %>
     <%= f.text_field :city %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <% if @venue.state.blank? %>
    <%= select(:venue, 'state', us_states, { :class => 'form-control', :selected => 'IL' }) %>
    <% else %>
    <%= select(:venue, 'state', us_states, { :class => 'form-control' }) %>
    <% end %>
  </div>
  <!--<div class="field">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode %>
  </div>-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
