<div class="form-group">
  <%= label(:venue, :tags) do %>Type<% end %>
  <% if params[:tags] %>
  <%= select(:venue, :tags, Tag.all.collect {|tag| [ tag.name, tag.id ] }, { :selected => params[:tags] }, { :class => 'form-control' }) %>
  <% else %>
  <%= collection_select(:venue, 'tags', Tag.order('name ASC'), :id, :name, {}, { :class => 'form-control' }) %>
  <% end %>
</div>
<div class="form-group form-group-multiple-options">
  <%= label(:venue, :price, value: 1) do %>Price<% end %><br>
  <%= radio_button('venue', 'price', 1, { :required =>  'required' }) %>
  <%= label(:venue, :price, value: 1) do %><%= render_price(1) %><% end %>
  <%= radio_button('venue', 'price', 2, { :required =>  'required' }) %>
  <%= label(:venue, :price, value: 2) do %><%= render_price(2) %><% end %>
  <%= radio_button('venue', 'price', 3, { :required =>  'required' }) %>
  <%= label(:venue, :price, value: 3) do %><%= render_price(3) %><% end %>
  <%= radio_button('venue', 'price', 4, { :required =>  'required' }) %>
  <%= label(:venue, :price, value: 4) do %><%= render_price(4) %><% end %>
</div>
