<% provide(:title, "Venues") %>
<section id="venues-all" class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>All Venues</h1>
				<table class="table">
				  <thead>
				    <tr>
				      <th><%= sortable 'name', 'Name' %></th>
				      <th><%= sortable 'vt_name', 'Type' %></th>
				      <th class="hidden-xs"><%= sortable 'neighborhood_name', 'Neighborhood' %></th>
				      <th class="hidden-xs text-center"><%= sortable 'rating', 'Rating' %></th>
				      <th class="text-center"><%= sortable 'price', 'Price' %></th>
				      <th class="hidden-xs text-center">BYOB</th>
				    </tr>
				  </thead>
				  <tbody>
				    <% @venues.each do |venue| %>
			      <tr>
			        <td><%= link_to venue, title: venue.name do %><%= venue.name %><% end %></td>
			        <td><%= link_to venue.venuetype do %><%= venue.venuetype.name %><% end %></td>
			        <td class="hidden-xs"><%= link_to venue.neighborhood do %><%= venue.neighborhood.name %><% end %></td>
			        <td class="hidden-xs text-center"><%= rating_display(venue) %></td>
			        <td class="text-center"><% if venue.price %><%= render_price(venue.price) %><% else %>&mdash;<% end %></td>
			        <td class="hidden-xs text-center"><% if venue.byob %><i class="fa fa-check green"></i><% end %></td>
			      </tr>
				    <% end %>
				  </tbody>
				</table>
				<hr>
				<%= link_to new_venue_path, :class => 'btn btn-success' do %><i class="fa fa-plus left"></i>New Venue<% end %>
			</div>
		</div>
	</div>
</section>
