<section id="venues-all">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<%= form_tag venues_path, :method => 'get' do %>
					<h2 class="text-center">I would like...</h2>
					<input type="checkbox" name="byob" value="true">
					<%= text_field_tag :search, params[:search], { :class => 'form-control input-lg input-huge', :placeholder => 'mexican byob wicker park', :autofocus => true } %>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<table class="table">
				  <thead>
				    <tr>
				      <th><%= sortable 'name' do %>Test<% end %></th>
				      <th><%= sortable 'typeid', 'Type' %></th>
				      <th><%= sortable 'neighborhoodid', 'Neighborhood' %></th>
				      <th class="text-center"><%= sortable 'ratings', 'Rating' %></th>
				      <th class="text-center"><%= sortable 'price', 'Price' %></th>
				      <th class="text-center"><%= sortable 'byob', 'BYOB' %></th>
				    </tr>
				  </thead>
				  <tbody>
				    <% @venues.each do |venue| %>
			      <tr>
			        <td><%= link_to venue do %><%= venue.name %><% end %></td>
			        <td><%= Venuetype.find(venue.typeid).name %></td>
			        <td><% if venue.neighborhoodid %><%= Neighborhood.find(venue.neighborhoodid).name %><% end %></td>
			        <td class="text-center"><%= number_with_precision(venue.ratings.average('rating'), precision: 2) %></td>
			        <td class="text-center"><% if venue.price %><%= render_price(venue.price) %><% else %>&mdash;<% end %></td>
			        <td class="text-center"><% if venue.byob %><i class="fa fa-check green"></i><% end %></td>
			      </tr>
				    <% end %>
				  </tbody>
				</table>
				<%= link_to 'New Venue', new_venue_path %>
			</div>
		</div>
	</div>
</section>