<% provide(:title, "#{@venue.name} | Venues") %>
<section id="venue-show" class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="venue-title"><%= @venue.name %> <small>in <%= link_to @venue.neighborhood do %><%= @venue.neighborhood.name %><% end %></small><% if user_signed_in? %>
					<% if @venue.tries.where(user_id: current_user.id).present? %>
						<% @thisTry = @venue.tries.where(user_id: current_user.id).first %>
						<%= link_to @thisTry, title: 'Delete', method: :delete, class: 'btn btn-sm btn-danger margin-down totry-btn' do %><i class="fa fa-check fa-fw left"></i>To Try<% end %>
					<% else %>
						<a id="totrysubmit" href="#" class="btn btn-sm btn-danger margin-down totry-btn"><i class="fa fa-plus fa-fw left"></i>To Try</a>
						<%= form_for([@venue, @venue.tries.build]) do |f| %>
							<% f.hidden_field :user_id, value: current_user.id %>
						<% end %>
					<% end %>
				<% end %></h2>
				<div class="row margin-down">
					<div class="col-sm-6">
						<div id="venue-info-main" class="venue-info-block row">
							<div class="col-md-<% if @venue.hasExtras %>8<% else %>12<% end %>">
								<div class="row">
									<div class="col-xs-6">
										<p class="lead"><% if !@venue.price.nil? %><span id="venue-price"><%= render_price(@venue.price) %></span>&nbsp;&bull;&nbsp;<% end %><%= link_to @venue.venuetype do %><%= @venue.venuetype.name %><% end %></p>
										<address>
											<%
												if @venue.hasaddress
													addressWorking = @venue.fulladdress
													addressDisplay = @venue.street + '<br/>' + @venue.city + ', ' + @venue.state
												else
													addressWorking = ''
													addressDisplay = ''
												end %>
											<% if current_user.try(:hasaddress) %>
											<a href="http://www.google.com/maps/dir/<%= to_url(current_user.fulladdress) %>/<%= to_url(@venue.name + ' ') %><%= to_url(addressWorking) %>/"><%= addressDisplay.html_safe %></a>
											<% else %>
											<a href="http://maps.google.com/maps?q=<%= to_url(@venue.name + ' ') + to_url(addressWorking) %>"><%= addressDisplay.html_safe %></a>
											<% end %>
										</address>
									</div>
									<div class="col-xs-6">
										<% if user_signed_in? %>
										<p>
											<% if @venue.ratings.where(user_id: current_user.id).present? %>
											Your Rating:<br>
											<span id="myrating"><%= render_stars(@venue.ratings.where(user_id: current_user.id).sum('rating')) %></span>
											<% @thisRating = @venue.ratings.where(user_id: current_user.id).first %>
											<%= form_for @thisRating, :remote => true do |f| %>
												<%= f.hidden_field :rating %>
											<% end %>
											<% else %>
												Rate It:<br>
												<span id="myrating"><%= render_stars(0) %></span>
												<%= form_for([@venue, @venue.ratings.build]) do |f| %>
													<%= f.hidden_field :rating %>
												<% end %>
											<% end %>
										</p>
										<% end %>
										<% if @venue.ratings.exists? %>
										<p>Our Rating: <%= @venue.ratings.average('rating') %>/5</p>
										<% end %>
									</div>
								</div>
							</div>
							<% if @venue.hasExtras %>
							<div class="col-md-4">
								<div id="venue-info-checks" class="venue-info-block row">
									<hr class="visible-xs">
									<% if @venue.byob %>
									<div class="col-md-12 col-sm-6 col-xs-6">
										<p><i class="fa fa-fw fa-beer left"></i>BYOB</p>
									</div>
									<% end %>
									<% if @venue.craftbeer %>
									<div class="col-md-12 col-sm-6 col-xs-6">
										<p><i class="fa fa-fw fa-beer left"></i>Craft Beer</p>
									</div>
									<% end %>
									<% if @venue.cocktails %>
									<div class="col-md-12 col-sm-6 col-xs-6">
										<p><i class="fa fa-fw fa-glass left"></i>Cocktails</p>
									</div>
									<% end %>
									<% if @venue.latenight %>
									<div class="col-md-12 col-sm-6 col-xs-6">
										<p><i class="fa fa-fw fa-clock-o left"></i>Late Night</p>
									</div>
									<% end %>
									<% if @venue.cashonly %>
									<div class="col-md-12 col-sm-6 col-xs-6">
										<p><i class="fa fa-fw fa-money left"></i>Cash Only</p>
									</div>
									<% end %>
								</div>
							</div>
							<% end %>
						</div>
					</div>
					<div class="col-sm-6 hidden-xs">
						<div id="venue-show-map" class="map"></div>
					</div>
					<div class="clearfix"></div>
					<% if @venue.items.exists? %>
					<div class="col-sm-6">
						<%= link_to venue_items_path(@venue), { class: 'btn btn-block btn-warning' } do %>Menu<% end %>
					</div>
					<% end %>
					<div class="col-sm-6">
						<% if user_signed_in? and @venue.items.exists? %>
							<h3>Eats</h3>
							<%= render 'eats/form' %>
						<% end %>
						<p><%= link_to 'Add New Menu Item', new_venue_item_path(@venue) %></p>
						<h3>Comments</h3>
						<% if !@venue.comments.empty? %>
						<ul class="comments-list">
							<% @venue.comments.each do |comment| %>
								<% if !comment.private or comment.user == current_user %>
								<li class="comment<% if comment.private %> private<% end %>">
									<div class="comment-user-info">
										<% if is_current_user(comment.user_id, true) %>
										<%= link_to comment, method: :delete, data: { confirm: "Are you sure you would like to delete this comment?" } do %><button type="button" class="close" data-dismiss="alert" aria-hidden="true"><span class="lead">&times;</span></button><% end %>
										<% end %>
										<%= link_to comment.user do %><img class="user-avatar user-avatar-thumb" src="<%= comment.user.avatar.url(:thumb) %>"><%= comment.user.fullname %><% end %> on <%= comment.updated_at.strftime('%B %e, %Y') %>
									</div>
									<div class="comment-body">
										<%= comment.body %>
									</div>
								</li>
								<% end %>
							<% end %>
						</ul>
						<% end %>
						<% if user_signed_in? %>
							<%= form_for([@venue, @venue.comments.build]) do |f| %>
								<div class="form-group">
									<%= f.text_area :body, { :class => 'form-control', :required => 'required', :placeholder => 'Great appetizers! I highly recommend...' } %>
								</div>
								<div class="form-group">
									<%= f.check_box :private, {}, :true, :false %>
									<%= f.label :private do %><i class="fa fa-lock left right"></i>Private? <small>(Hidden to others)</small><% end %>
									<button type="submit" class="post-comment-button btn btn-success">Post Comment</button>
								</div>
							<% end %>
						<% else %>
						<p><%= link_to "Login", new_user_session_path %> to comment.</p>
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-center">
						<p><%= link_to 'Back', venues_path, title: 'Back' %>&nbsp;&bull;&nbsp;<%= link_to edit_venue_path(@venue), title: 'Edit' do %>Edit <%= @venue.name %><% end %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
jQuery(document).ready(function($) {

	initialize(<%= @venue.latitude %>, <%= @venue.longitude %>);

	/* Rating */
	var myratingHTML = $('#myrating').html();

	$('#myrating i.fa').click(function() {
		var thisClickIndex = $('#myrating i.fa').index(this) + 1;
		$('input#rating_rating').val(thisClickIndex);
		$('form.edit_rating, form.new_rating').submit();
		$('form.edit_rating, form.new_rating').bind('ajax:complete', function() {
			$.get(window.location.pathname + '/rating_average', function(data) {
				var newRatingIndex = $('#ourrating i.fa').index(data.rating_average);
				changeRatingStars('#ourrating', data.rating_average - 1);
			});
		});

		myratingHTML = $('#myrating').html();

	});

	$('#myrating i.fa').hover(function() {
		var thisClickIndex = $('#myrating i.fa').index(this);
		changeRatingStars('#myrating', thisClickIndex);
	}, function() {
	});

	/* To Try toggle */
	$('#totrysubmit').click(function(e) {
		e.preventDefault();
		$('form#new_try').submit();
	});

});

function changeRatingStars(whichStars, starNum) {
	var thisStar = $(whichStars + ' i.fa:eq(' + starNum + ')');
	thisStar.removeClass().addClass('fa fa-star');
	thisStar.prevAll(whichStars + ' i.fa').removeClass().addClass('fa fa-star');
	thisStar.nextAll(whichStars + ' i.fa').removeClass().addClass('fa fa-star-o');
}

function initialize(latitude, longitude) {

	infowindow = new google.maps.InfoWindow({ content: 'Loading...' });

	var mapOptions = {
		center: new google.maps.LatLng(latitude, longitude),
		zoom: 15,
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		disableDefaultUI: true
	};

	map = new google.maps.Map(document.getElementById('venue-show-map'), mapOptions);

	locations = [
		[<%= @venue.id %>, <%= @venue.latitude %>, <%= @venue.longitude %>]
	];

	for (i = 0; i < locations.length; i++) {
		marker = new google.maps.Marker({
			position: new google.maps.LatLng(locations[i][1], locations[i][2]),
			map: map
		});
		marker.set('id', locations[i][0]);
	}

}

</script>
