<% provide(:title, "#{@venue.name} | Venues") %>
<%
if !@venue.yelpid.blank?
	#http://parabuzzle.github.io/yelp4rails/
	yelp_keys = {
		:consumer_key => ENV['YELP_CONSUMER_KEY'],
		:consumer_secret => ENV['YELP_CONSUMER_SECRET'],
		:token => ENV['YELP_TOKEN'],
		:token_secret => ENV['YELP_TOKEN_SECRET']
	}
	#@yelpSearch = YelpApi.new(yelp_keys).search_by_business_id(@venue.yelpid)
	# {"error"=>{"text"=>"Exceeded max daily requests", "id"=>"EXCEEDED_REQS"}}
	if !defined? @yelpSearch or !@yelpSearch['error'].nil?
		@yelpActive = false
	else
		@yelpActive = true
	end
end
%>
<section id="venue-show" class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2><%= @venue.name %></h2>
				<div class="row margin-down">
					<div class="col-sm-6">
						<div id="venue-info-main" class="venue-info-block row">
							<div class="col-xs-6">
								<% if user_signed_in? %>
									<% if @venue.tries.where(user_id: current_user.id).present? %>
										<% @thisTry = @venue.tries.where(user_id: current_user.id).first %>
										<%= link_to @thisTry, title: 'Delete', method: :delete, class: 'btn btn-danger margin-down' do %><i class="fa fa-check fa-fw left"></i>To Try<% end %>
									<% else %>
										<a id="totrysubmit" href="#" class="btn btn-danger margin-down"><i class="fa fa-plus fa-fw left"></i>To Try</a>
										<%= form_for([@venue, @venue.tries.build]) do |f| %>
											<% f.hidden_field :user_id, value: current_user.id %>
										<% end %>
									<% end %>
								<% end %>
								<p class="lead"><% if !@venue.price.nil? %><span id="venue-price"><%= render_price(@venue.price) %></span>&nbsp;&bull;&nbsp;<% end %><%= link_to @venue.venuetype do %><%= @venue.venuetype.name %><% end %></p>
								<p><%= link_to @venue.neighborhood do %><%= @venue.neighborhood.name %><% end %></p>
								<address>
									<%
										if @yelpActive
											@addressWorking = @yelpSearch['location']['address'][0] + ' ' + @yelpSearch['location']['city'] + ' ' + @yelpSearch['location']['state_code']
											@addressDisplay = @yelpSearch['location']['address'][0] + '<br/>' + @yelpSearch['location']['city'] + ', ' + @yelpSearch['location']['state_code']
										else
											if @venue.hasaddress
												@addressWorking = @venue.fulladdress
												@addressDisplay = @venue.street + '<br/>' + @venue.city + ', ' + @venue.state
											else
												@addressWorking = ''
												@addressDisplay = ''
											end
										end %>
									<% if current_user.try(:hasaddress) %>
									<a href="http://www.google.com/maps/dir/<%= to_url(current_user.fulladdress) %>/<%= to_url(@venue.name + ' ') %><%= to_url(@addressWorking) %>/"><%= @addressDisplay.html_safe %></a>
									<% else %>
									<a href="http://maps.google.com/maps?q=<%= to_url(@venue.name + ' ') + to_url(@addressWorking) %>"><%= @addressDisplay.html_safe %></a>
									<% end %>
								</address>
							</div>
							<div class="col-xs-6">
								<% if user_signed_in? %>
									<p>Your Rating<br>
									<% if @venue.ratings.where(user_id: current_user.id).present? %>
										<span id="myrating"><%= render_stars(@venue.ratings.where(user_id: current_user.id).sum('rating')) %></span>
										<% @thisRating = @venue.ratings.where(user_id: current_user.id).first %>
										<%= form_for @thisRating, :remote => true do |f| %>
											<%= f.hidden_field :rating %>
										<% end %>
									<% else %>
										<span id="myrating"><%= render_stars(0) %></span>
										<%= form_for([@venue, @venue.ratings.build]) do |f| %>
											<%= f.hidden_field :rating %>
										<% end %>
									<% end %>
									</p>
								<% end %>
								<div class="row">
									<% if @yelpActive %>
									<div class="col-sm-12">
										<p><a href="<%= @yelpSearch['url'] %>">Yelp Rating</a><br><span class="red"><%= render_stars(@yelpSearch['rating']) %></span></p>
									</div>
									<% end %>
									<% if @venue.ratings.exists? %>
									<div class=" col-sm-12">
										<p>Our Rating<br><span id="ourrating"><%= render_stars(@venue.ratings.average('rating')) %></span></p>
									</div>
									<% end %>
								</div>
							</div>
						</div>
						<hr>
						<% if @venue.byob or @venue.craftbeer or @venue.cocktails or @venue.latenight or @venue.cashonly %>
						<div id="venue-info-checks" class="venue-info-block row">
							<% if @venue.byob %>
							<div class="col-sm-4 col-xs-6">
								<p><i class="fa fa-fw fa-beer left"></i>BYOB</p>
							</div>
							<% end %>
							<% if @venue.craftbeer %>
							<div class="col-sm-4 col-xs-6">
								<p><i class="fa fa-fw fa-beer left"></i>Craft Beer</p>
							</div>
							<% end %>
							<% if @venue.cocktails %>
							<div class="col-sm-4 col-xs-6">
								<p><i class="fa fa-fw fa-glass left"></i>Cocktails</p>
							</div>
							<% end %>
							<% if @venue.latenight %>
							<div class="col-sm-4 col-xs-6">
								<p><i class="fa fa-fw fa-clock-o left"></i>Late Night</p>
							</div>
							<% end %>
							<% if @venue.cashonly %>
							<div class="col-sm-4 col-xs-6">
								<p><i class="fa fa-fw fa-money left"></i>Cash Only</p>
							</div>
							<% end %>
						</div>
						<hr class="visible-xs">
						<% end %>
					</div>
					<div class="col-sm-6">
						<h3>Comments</h3>
						<% if !@venue.comments.empty? %>
						<ul class="comments-list">
							<% @venue.comments.each do |comment| %>
							<li class="comment">
								<div class="comment-user-info">
									<% if is_current_user(comment.user_id, true) %>
									<%= link_to comment, method: :delete, data: { confirm: "Are you sure you would like to delete this comment?" } do %><button type="button" class="close" data-dismiss="alert" aria-hidden="true"><span class="lead">&times;</span></button><% end %>
									<% end %>
									<%= link_to comment.user do %><img class="user-avatar user-avatar-thumb" src="<%= comment.user.avatar %>"><%= comment.user.fullname %><% end %> on <%= comment.updated_at.strftime('%B %e, %Y') %>
								</div>
								<div class="comment-body">
									<%= comment.body %>
								</div>
							</li>
							<% end %>
						</ul>
						<% end %>
						<% if user_signed_in? %>
							<%= form_for([@venue, @venue.comments.build]) do |f| %>
								<%= f.text_area :body, { :class => 'form-control', :required => 'required', :placeholder => 'Great appetizers! I highly recommend...' } %>
							  <button type="submit" class="btn btn-block btn-success">Post Comment</button>
							<% end %>
						<% else %>
						<p><%= link_to "Login", new_user_session_path %> to comment.</p>
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-center">
						<p><%= link_to 'Back', venues_path, title: 'Back' %>&nbsp;&bull;&nbsp;<%= link_to edit_venue_path(@venue), title: 'Edit' do %>Edit <%= @venue.name %><% end %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
jQuery(document).ready(function($) {


	/* Rating */
	var myratingHTML = $('#myrating').html();

	$('#myrating i.fa').click(function() {
		var thisClickIndex = $('#myrating i.fa').index(this) + 1;
		$('input#rating_rating').val(thisClickIndex);
		$('form.edit_rating, form.new_rating').submit();
		$('form.edit_rating, form.new_rating').bind('ajax:complete', function() {
			$.get(window.location.pathname + '/rating_average', function(data) {
				var newRatingIndex = $('#ourrating i.fa').index(data.rating_average);
				changeRatingStars('#ourrating', data.rating_average - 1);
			});
		});

		myratingHTML = $('#myrating').html();

	});

	$('#myrating i.fa').hover(function() {
		var thisClickIndex = $('#myrating i.fa').index(this);
		changeRatingStars('#myrating', thisClickIndex);
	}, function() {
	});

	/* To Try toggle */
	$('#totrysubmit').click(function(e) {
		e.preventDefault();
		$('form#new_try').submit();
	});

});

function changeRatingStars(whichStars, starNum) {
	var thisStar = $(whichStars + ' i.fa:eq(' + starNum + ')');
	thisStar.removeClass().addClass('fa fa-star');
	thisStar.prevAll(whichStars + ' i.fa').removeClass().addClass('fa fa-star');
	thisStar.nextAll(whichStars + ' i.fa').removeClass().addClass('fa fa-star-o');
}
</script>
