<% provide(:title, "#{@venue.name} | Venues") %>
<section>
	<div class="container">
		<div class="pure-g">
			<div class="pure-u-1-1">
				<h1 class="venue-title"><%= @venue.name %> <small>in <%= link_to @venue.neighborhood do %><%= @venue.neighborhood.name %><% end %></small></h1>
				<% if user_signed_in? %>
					<% if @venue.tries.where(user_id: current_user.id).present? %>
						<% @thisTry = @venue.tries.where(user_id: current_user.id).first %>
						<%= link_to @thisTry, title: 'Delete', method: :delete, class: 'btn btn-danger totry-btn' do %><%= inline_icon('check', 'To Try', 'left') %><% end %>
					<% else %>
						<button id="totrysubmit" class="btn btn-danger totry-btn"><%= inline_icon('plus', 'To Try', 'left') %></button>
						<%= form_for([@venue, @venue.tries.build]) do |f| %>
							<% f.hidden_field :user_id, value: current_user.id %>
						<% end %>
					<% end %>
				<% end %>
				<div class="venue-info-block pure-g">
					<div class="meta-block pure-u-1-1 pure-u-sm-1-2 pure-u-lg-1-6">
						<p><% if !@venue.price.nil? %><span id="venue-price"><%= render_price(@venue.price) %></span>&nbsp;&bull;&nbsp;<% end %><%= link_to @venue.venuetype do %><%= @venue.venuetype.name %><% end %></p>
						<% if @venue.hasaddress %>
						<address>
							<% if current_user.try(:hasaddress) %>
							<a href="http://www.google.com/maps/dir/<%= to_url(current_user.fulladdress) %>/<%= to_url(@venue.name + ' ') %><%= to_url(@venue.fulladdress.to_s) %>/"><%= @venue.addressDisplay.html_safe %></a>
							<% else %>
							<a href="http://maps.google.com/maps?q=<%= to_url(@venue.name + ' ') + to_url(@venue.fulladdress.to_s) %>"><%= @venue.addressDisplay.html_safe %></a>
							<% end %>
						</address>
						<% end %>
					</div>
					<div class="ratings-block pure-u-1-1 pure-u-sm-1-2 pure-u-lg-1-6">
						<% if user_signed_in? %>
						<div class="your-rating">
						<% if @venue.ratings.where(user_id: current_user.id).present? %>
							Your Rating:<br>
							<span id="myrating"><%= render_stars(@venue.ratings.where(user_id: current_user.id).sum('rating')) %></span>
							<% @thisRating = @venue.ratings.where(user_id: current_user.id).first %>
							<%= form_for @thisRating, :remote => true do |f| %>
								<%= f.hidden_field :rating %>
							<% end %>
							<% else %>
								Rate It:<br>
								<span id="myrating"><%= render_stars(0) %></span>
								<%= form_for([@venue, @venue.ratings.build]) do |f| %>
									<%= f.hidden_field :rating %>
								<% end %>
							<% end %>
						</div>
						<% end %>
						<% if @venue.ratings.exists? %>
						<div class="our-rating">Our Rating: <%= rating_display(@venue) %> / 5</div>
						<% end %>
					</div>
					<div class="extras-block pure-u-1-1 pure-u-lg-1-3">
						<% if @venue.hasExtras %>
						<ul class="extras-list">
							<% if @venue.byob %><li><%= inline_icon('wine') %><%= inline_icon('beer', 'BYOB', 'left') %></li><% end %>
							<% if @venue.craftbeer %><li><%= inline_icon('beer', 'Craft Beer', 'left') %></li><% end %>
							<% if @venue.cocktails %><li><%= inline_icon('wine', 'Cocktails', 'left') %></li><% end %>
							<% if @venue.latenight %><li><%= inline_icon('clock', 'Late Night', 'left') %></li><% end %>
							<% if @venue.cashonly %><li><%= inline_icon('money', 'Cash Only', 'left') %></li><% end %>
							<% if @venue.outdoor %><li><%= inline_icon('sun', 'Outdoor/Patio', 'left') %></li><% end %>
						</ul>
						<% end %>
					</div>
					<div class="pure-u-1-1 pure-u-lg-1-3">
						<!--<div id="google-map" class="map map-single"></div>-->
					</div>
					<div class="pure-u-1-1 pure-u-lg-2-3">
						<% if @venue.items.exists? %>
						<h3>Menu <%= link_to new_venue_item_path(@venue), class: 'add-new-menu-item-btn btn btn-warning' do %><%= inline_icon('plus', 'Add New Item', 'left') %><% end %></h3>
						<% else %>
						<%= link_to new_venue_item_path(@venue), class: 'add-new-menu-item-btn btn btn-warning' do %><%= inline_icon('plus', 'Add New Menu Item', 'left') %><% end %>
						<% end %>
						<% if @venue.items.exists? %>
						<table>
		          <tbody>
		            <% @venue.items.each do |item| %>
		            <tr>
		              <td class="col-name"><%= item.name %></td>
		              <td class="col-rating"><% if user_signed_in? %><%= render :partial => 'item_ratings/item_rating', :locals => { :item => item } %><% end %><% if item.percentLiked %><div class="percent-liked"><%= number_to_percentage(item.percentLiked * 100.0, precision: 0) %> liked</div><% end %></td>
		            </tr>
		            <% end %>
		          </tbody>
		        </table>
						<% end %>
						<h3>Comments</h3>
						<% if !@venue.comments.empty? %>
						<ul class="comments-list">
							<% @venue.comments.each do |comment| %>
								<% if !comment.private or comment.user == current_user %>
								<li class="comment<% if comment.private %> private<% end %>">
									<div class="comment-user-info">
										<% if is_current_user(comment.user, true) %>
										<%= link_to comment, method: :delete, data: { confirm: "Are you sure you would like to delete this comment?" } do %>&times;<% end %>
										<% end %>
										<%= link_to comment.user do %><img class="user-avatar user-avatar-thumb" src="<%= comment.user.avatar.url(:thumb) %>"><%= comment.user.fullname %><% end %> <% if @venue.ratings.where(user_id: comment.user.id).exists? %>(<%= render_stars(@venue.ratings.where(user_id: comment.user.id).first.rating) %>) <% end %>on <%= comment.updated_at.strftime('%B %e, %Y') %>
									</div>
									<p class="comment-body"><%= comment.body %></p>
								</li>
								<% end %>
							<% end %>
						</ul>
						<% end %>
						<% if user_signed_in? %>
							<%= form_for([@venue, @venue.comments.build]) do |f| %>
								<div class="form-group">
									<%= f.text_area :body, { :class => 'form-control', :required => 'required', :placeholder => 'Great appetizers! I highly recommend...' } %>
								</div>
								<div class="form-group form-group-multiple-options">
									<%= f.check_box :private, {}, :true, :false %>
									<%= f.label :private do %><%= inline_icon('lock', 'Private?', 'left') %> <small>(Hidden to others)</small><% end %>
									<button type="submit" class="post-comment-button btn btn-success">Post Comment</button>
								</div>
							<% end %>
						<% else %>
						<p><%= link_to "Login", new_user_session_path %> to comment.</p>
						<% end %>
					</div>
				</div>
				<div class="pure-g">
					<div class="pure-u-1-1">
						<p><%= link_to 'Back', venues_path, title: 'Back' %>&nbsp;&bull;&nbsp;<%= link_to edit_venue_path(@venue), title: 'Edit' do %>Edit <%= @venue.name %><% end %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%= render 'layouts/mapscript', :mapvenues => [@venue], :isSolo => true %>
