<% provide(:title, "Venue Types") %>
<section id="venuetype" class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>Venue Types</h2>
				<h3><%= link_to 'Restaurants', venuetype_path(1) %></h3>
				<%= render_venuetype_hierarchy(1, 'cols2') %>
				<hr>
				<h3><%= link_to 'Bars', venuetype_path(2) %></h3>
				<%= render_venuetype_hierarchy(2) %>
	      <hr>
	      <%= link_to new_venuetype_path, :class => 'btn btn-success' do %><i class="fa fa-plus left"></i>New Venue Type<% end %>
			</div>
		</div>
	</div>
</section>
