<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= pluralize_without_count(2, @venuetype.name) %>
</p>

<p>
  <strong>Parenttypeid:</strong>
  <%= @venuetype.parenttypeid %>
</p>

<%= link_to 'Edit', edit_venuetype_path(@venuetype) %> |
<%= link_to 'Back', venuetypes_path %>
