<% provide(:title, "#{@venuetype.name} | Venue Types") %>
<section id="venuetype-<%= @venuetype.id %>" class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<% if @venuetype.id == 1 || @venuetype.id == 2 %>
				<h2>
					<%= pluralize_without_count(2, @venuetype.name) %>
				</h2>
				<% else %>
				<h2><%= @venuetype.name %></h2>
				<% end %>
				<p><% if @venuetype.hasParent %>Part of <%= link_to @venuetype.parent do %><%= @venuetype.parent.name %><% end %>. <% end %><% if !@venuetype.children.empty? %>Includes <%= @venuetype.children.map { |vtype| link_to vtype.name, vtype }.join(', ').html_safe %>.<% end %></p>
				<% if !@venues.empty? %>
				<div class="row">
					<div class="col-md-8">
						<table class="table">
						  <thead>
						    <tr>
						      <th><%= sortable 'name', 'Name' %></th>
						      <% if @venuetype.id == 1 || @venuetype.id == 2 %><th><%= sortable 'vt_name', 'Type' %></th><% end %>
						      <th class="hidden-xs"><%= sortable 'neighborhood_name', 'Neighborhood' %></th>
						      <th class="hidden-xs text-center"><%= sortable 'rating', 'Rating' %></th>
						      <th class="text-center"><%= sortable 'price', 'Price' %></th>
						      <th class="hidden-xs text-center"><%= sortable 'byob', 'BYOB?' %></th>
						    </tr>
						  </thead>
						  <tbody>
								<% @venues.each do |venue| %>
					      <tr>
					        <td><%= link_to venue, title: venue.name do %><%= venue.name %><% end %></td>
					        <% if @venuetype.id == 1 || @venuetype.id == 2 %><td><%= link_to venue.venuetype do %><%= venue.venuetype.name %><% end %></td><% end %>
					        <td class="hidden-xs"><%= link_to venue.neighborhood do %><%= venue.neighborhood.name %><% end %></td>
					        <td class="hidden-xs text-center"><%= rating_display(venue) %></td>
					        <td class="text-center"><% if venue.price %><%= render_price(venue.price) %><% else %>&mdash;<% end %></td>
					        <td class="hidden-xs text-center"><% if venue.byob %><i class="fa fa-check green"></i><% end %></td>
					      </tr>
						    <% end %>
						  </tbody>
						</table>
					</div>
					<div class="col-md-4">
						<div id="google-map" class="map map-neighborhood"></div>
					</div>
				</div>
				<% if @isPaginated %>
				<%= render 'layouts/venues_pagination' %>
				<% end %>
				<% end %>
				<p class="text-center">
					<%= link_to 'Edit', edit_venuetype_path(@venuetype) %>&nbsp;&bull;&nbsp;<%= link_to new_venue_path({ :venuetype_id => @venuetype.id }) do %>Add a new <%= @venuetype.name %> venue<% end %>
				</p>
			</div>
		</div>
	</div>
</section>

<%= render 'layouts/mapscript', :mapvenues => @venues_unpaginated.present? ? @venues_unpaginated : @venues %>
