<p id="notice"><%= notice %></p>

<p>
  <strong>Venue:</strong>
  <%= @item.venue %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<%= link_to 'Edit', edit_venue_item_path([@item.venue, @item]) %> |
<%= link_to 'Back', venue_items_path %>
