<% provide(:title, "#{@neighborhood.name} | Neighborhoods") %>

<section id="neighborhoods-single" class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1><%= @neighborhood.name %></h1><%=  %>
				<p><% if @neighborhood.hasParent %>Part of <%= link_to neighborhood_path(@neighborhood.parent_neighborhood_id) do %><%= @neighborhood.parent.name %><% end %>.<% end %> <% if !@neighborhood.children.empty? %>Includes <%= @neighborhood.children.map { |vtype| link_to vtype.name, vtype }.join(', ').html_safe %>.<% end %></p>
				<div class="row">
					<div class="col-md-8">
						<% if !@venues.empty? %>
						<table class="table">
						  <thead>
						    <tr>
						      <th><%= sortable 'name', 'Name' %></th>
									<th><%= sortable 'vt_name', 'Type' %></th>
						      <th class="hidden-xs text-center"><%= sortable 'rating', 'Rating' %></th>
						      <th class="text-center"><%= sortable 'price', 'Price' %></th>
						      <th class="hidden-xs text-center"><%= sortable 'byob', 'BYOB?' %></th>
						    </tr>
						  </thead>
						  <tbody>
								<% @venues.each do |venue| %>
					      <tr>
					        <td><%= link_to venue, title: venue.name do %><%= venue.name %><% end %></td>
					        <td><%= link_to venue.venuetype do %><%= venue.venuetype.name %><% end %></td>
					        <td class="hidden-xs text-center"><%= rating_display(venue) %></td>
					        <td class="text-center"><% if venue.price %><%= render_price(venue.price) %><% else %>&mdash;<% end %></td>
					        <td class="hidden-xs text-center"><% if venue.byob %><i class="fa fa-check green"></i><% end %></td>
					      </tr>
						    <% end %>
						  </tbody>
						</table>
						<% end %>
					</div>
					<div class="col-md-4">
						<div id="google-map" class="map map-neighborhood"></div>
					</div>
				</div>
				<p class="text-center">
					<%= link_to 'Edit', edit_neighborhood_path(@neighborhood) %>&nbsp;&bull;&nbsp;<%= link_to new_venue_path({ :neighborhood_id => @neighborhood.id }) do %>Add a new venue in <%= @neighborhood.name %><% end %>
			</div>
		</div>
	</div>
</section>

<%= render 'layouts/mapscript', :mapvenues => @venues_unpaginated.present? ? @venues_unpaginated : @venues %>
