<section id="neighborhoods-single">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1><%= @neighborhood.name %></h1><%=  %>
				<% if !@neighborhood.parentneighborhoodid.nil? %>
				<p>Part of <%= link_to neighborhood_path(@neighborhood.parentneighborhoodid) do %><%= Neighborhood.find(@neighborhood.parentneighborhoodid).name %><% end %></p>
				<% end %>
				</p>
				<% if !@scopeTotal.empty? %>
				<table class="table">
				  <thead>
				    <tr>
				      <th>Name</th>
				      <th>Type</th>
				      <th class="hidden-xs text-center">Rating</th>
				      <th class="text-center">Price</th>
				      <th class="hidden-xs text-center">BYOB</th>
				    </tr>
				  </thead>
				  <tbody>
						<% @scopeTotal.each do |venue| %>
			      <tr>
			        <td><%= link_to venue do %><%= venue.name %><% end %></td>
			        <td><%= Venuetype.find(venue.typeid).name %></td>
			        <td class="hidden-xs text-center"><%= number_with_precision(venue.ratings.average('rating'), precision: 2) %></td>
			        <td class="text-center"><% if venue.price %><%= render_price(venue.price) %><% else %>&mdash;<% end %></td>
			        <td class="hidden-xs text-center"><% if venue.byob %><i class="fa fa-check green"></i><% end %></td>
			      </tr>
				    <% end %>
				  </tbody>
				</table>
				<% end %>
				<p class="text-center">
					<%= link_to 'Edit', edit_neighborhood_path(@neighborhood) %>&nbsp;&bull;&nbsp;<%= link_to new_venue_path({ :neighborhoodid => @neighborhood.id }) do %>Add a new venue in <%= @neighborhood.name %><% end %>
			</div>
		</div>
	</div>
</section>

