<% provide(:title, "#{@user.fullname}'s Eats") %>
<section id="user-eats" class="pad">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Eats <small>from <%= link_to @user, title: @user.fullname do %><%= @user.fullname %><% end %></small></h1>
        <% if @eats.empty? %>
        <p><% if is_current_user(@user) %>You have<% else %><%= @user.firstname %> has<% end %> not eaten any menu items.</p>
        <% else %>
        <table class="table">
          <thead>
            <tr>
              <th>Menu Item Name</th>
              <th>Venue</th>
              <th class="text-center">Rating</th>
            </tr>
          </thead>
          <tbody>
            <% @eats.each do |eat| %>
            <tr>
              <td><%= eat.item.name %></td>
              <td><%= link_to eat.item.venue.name, eat.item.venue %></td>
              <td class="text-center"><% if ItemRating.where(item_id: eat.item.id, user_id: eat.user.id) %><% if ItemRating.where(item_id: eat.item.id, user_id: eat.user.id).first.liked %><i class="fa fa-thumbs-up green"></i><% else %><i class="fa fa-thumbs-down red"></i><% end %><% else %>&mdash;<% end %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</section>
