<h1>Deletion Request</h1>
<p><%= link_to user_url(@user) do %><%= @user.firstname %> <%= @user.firstname %><% end %> has requested a deletion for the <%= link_to @requested.name, root_url + @requested_link %> <%= @requested_text_label %> and cited the following reason:<p>
<p>"<%= @reason.html_safe %>"</p>
