<footer class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<nav class="footer-nav">
					<ul><li><%= link_to 'Venues', venues_path, title: 'Venues' %></li><li><%= link_to 'Neighborhoods', neighborhoods_path, title: 'Neighborhoods' %></li><li><%= link_to 'Types', venuetypes_path, title: 'Types' %></li><li><%= link_to 'Users', users_path, title: 'Users' %></li><li><%= link_to 'About Chicago Food', about_path, title: 'Venues' %></li></ul>
				</nav>
				<div class="footer-fineprint">
					<div class="copyright">&copy; <a href="https://seferdesign.com">Sefer Design Company LLC</a></div>
					<div class="noun">Hot Dog logo designed by <a href="http://thenounproject.com/CrocodileJock">Andrew Cameron</a> from the <a href="http://thenounproject.com">Noun Project</a>.</div>
			</div>
		</div>
	</div>
</footer>
