<header>
	<div class="pure-g">
		<div class="pure-u-1-1">
			<div class="header-main">
				<a class="logo" href="/" title="Chicago Food"><%= svg('hotdog') %>Chicago Food</a>
				<button class="nav-toggle"><span>toggle menu</span></button>
			</div><nav>
				<ul>
					<li><%= link_to map_path, title: 'Map' do %><%= inline_icon('map-pin', 'Map', 'left') %><% end %></li>
					<% if user_signed_in? %>
					<li><%= link_to user_tries_path(current_user), title: 'To Try' do %>To Try (<%= user_try_count(current_user.id) %>)<% end %></li>
					<li><%= link_to user_path(current_user), title: 'My Profile' do %><img class="user-avatar user-avatar-thumb" src="<%= current_user.avatar.url(:thumb) %>" />Hi, <%= current_user.firstname %><% end %></li>
					<li><%= link_to destroy_user_session_path, title: 'Sign Out' do %>Sign Out<%= inline_icon('log-out', '', 'right') %><% end %></li>
					</li>
					<% else %>
					<li><%= link_to new_user_registration_path, title: 'Register' do %><%= inline_icon('user', 'Register', 'left') %><% end %></li>
					<li><%= link_to new_user_session_path, title: 'Sign In' do %><%= inline_icon('log-in', 'Sign In', 'left') %><% end %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>
