<header>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<nav class="navbar navbar-default" role="navigation">
				  <div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
				      <span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
				    <a class="navbar-brand" href="/" title="Chicago Food"><img id="logo" src="/images/hotdog_154.png" alt="">Chicago Food</a>
				  </div>
				  <div class="collapse navbar-collapse" id="main-navbar-collapse">
				  	<ul class="nav navbar-nav navbar-right">
				  		<% if user_signed_in? %>
				  		<li><%= link_to user_tries_path(current_user), title: 'To Try' do %>To Try (<%= user_try_count(current_user.id) %>)<% end %></li>
				  		<li><%= link_to user_path(current_user), title: 'My Profile' do %><img class="user-avatar user-avatar-thumb" src="<%= current_user.avatar.url(:thumb) %>" />Hi, <%= current_user.firstname %><% end %></li>
				  		<li><%= link_to destroy_user_session_path, title: 'Sign Out' do %>Sign Out<i class="fa fa-sign-out right"></i><% end %></li>
			        </li>
				  		<% else %>
				  		<li><%= link_to new_user_registration_path, title: 'Register' do %><i class="fa fa-user left"></i>Register<% end %></li>
				  		<li><%= link_to new_user_session_path, title: 'Sign In' do %><i class="fa fa-sign-in left"></i>Sign In<% end %></li>
				  		<% end %>
				  	</ul>
				  </div>
				</nav>
			</div>
		</div>
	</div>
</header>
