<script type="text/javascript">
google.maps.event.addDomListener(window, 'load', initialize(41.92, -87.65));

var nBounds = new google.maps.LatLngBounds();
var mapIsSolo = false;
var markerList = [];
var infowindow;

locations = [
  <%
  mapvenues.each do |venue|
    if venue.kind_of? Try
      venue = venue.venue
    end
  %>
  {
    id: <%= venue.id %>,
    lat: <%= venue.latitude %>,
    lng: <%= venue.longitude %>,
    name: '<%= venue.name %>',
    path: '<%= venue_path(venue) %>',
    isTry: <% if user_signed_in? and Try.where('user_id = ? AND venue_id = ?', current_user.id, venue.id).exists? %>true<% else %>false<% end %>,
    isSolo: <% if defined? isSolo and isSolo %>true<% else %>false<% end %>
  },
  <% end %>
];

if (locations.length >= 1) {
  for (i = 0; i < locations.length; i++) {
    var iconSymbol;
    if (locations[i].isSolo) {
      iconSymbol = null;
      mapIsSolo = true;
    } else {
      iconSymbol = '<%= asset_path("icons/marker-spoon-fork.svg") %>';
    }
    var thisLatLng = new google.maps.LatLng(locations[i].lat, locations[i].lng)
    marker = new google.maps.Marker({
      position: thisLatLng,
      map: map,
      icon: iconSymbol
    });
    nBounds.extend(thisLatLng);
    marker.set('id', locations[i].id);
    marker.set('isTry', locations[i].isTry);
    markerList.push(marker);

    if (!mapIsSolo) {
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          map.panTo(marker.getPosition());
          infowindow.setContent('<div class="map-infowindow"><a href="' + locations[i].path + '">' + locations[i].name +'</a></div>');
          infowindow.open(map, this);
        }
      })(marker, i));
    }

  }


  if (mapIsSolo) {
    map.panTo(new google.maps.LatLng(locations[0].lat, locations[0].lng));
    map.setZoom(15);
  } else {
    var markerCluster = new MarkerClusterer(map, markerList, {
      maxZoom: 15,
      gridSize: 30,
      minimumClusterSize: 2,
      styles: [{
        url: '<%= asset_path("icons/marker-circle.svg") %>',
        height: 30,
        width: 30,
        textColor: '#000',
        textSize: 15
      }]
    });
    map.fitBounds(nBounds);
  }
} else {
  $('#google-map').hide();
  if ($('#google-map').hasClass('map-all')) {
    $('#google-map').after('<p class="lead">No venues match your filter criteria. Please try again.</p>');
  }
}
</script>
