<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %><% if !current_page?(root_url) %> | <% end %>Chicago Food</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" />
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path('favicons/favicon_800.jpg') %>" />
  <link rel="shortcut icon" href="<%= asset_path('favicons/favicon_144.jpg') %>" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4I-MLFSK8kX16-GrXDCE-a6aN4ZbYUbo"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="https://use.typekit.net/mkb5nxi.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3797528-18', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>

<%= render 'layouts/header' %>

<div id="transition-wrap">
  <% if current_user.try(:admin?) and (notice or alert) %>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <% if notice %><p class="notice"><%= notice %></p><% end %>
          <% if alert %><p class="alert"><%= alert %></p><% end %>
        </div>
      </div>
    </div>
  </section>
  <% end %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>

</body>
</html>
